

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}

.header {
  background-color: #F55A5A;
  padding: 16px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.header > h3 {
  color: white;
  font-weight: 300;
}

.header > i {
  width:40px;
  fill: #FFFFFF;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0px 50px 0px;
  margin: 0px 15px 0px 15px;
  transform: scale(1.05);
}

.card {
  max-width: 470px;
  height: 168px;
  display: flex;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

.card > img {
  height: 168px;
  width: 125px;
  object-fit: cover;
  border-radius: 5px;
}

.card-textcontent {
  padding-left: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;
}

.card-textcontent-desc {
  line-height: 150%;
  margin-top: 7px;
}



.card-textcontent > h1 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 5px;
  
}




.card-textcontent-location {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card-textcontent-location > h4 {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3px;
}

.card-textcontent-location > a {
  font-size: 10px;
  color: gray;
}

.card-textcontent-location-icon {
  color: #F55A5A;
  font-size: 10px;
}

.footer  {
  display: flex;
  justify-content: center;
  color: lightgray;
  margin-top: 100px;
  margin-bottom: 25px;
  
}